a:link    { color: white; text-decoration: none; transition: background-color 1s;} /*秒かけて背景色がアニメーション*/
a:visited { color: white; text-decoration: none; }
a:hover   { color: white; background-color: #086A87; text-decoration: none;}
a:active  { color: white; }

a {
 font-family: calibri light;
}

ul.tate {
 width: 600px
 border:1px solid red;
 padding:0px;
 font-size:0px;
}

ul.tate li {
 width:150px;
 border:1px solid white;
 /* display: inline-block;  横並びになる */
 text-align: center;
 font-size:15px;
}

ul.tate li a {
 display: block;
 padding:15px;
}


ul.yoko {
 width: 900px
 border:1px solid red;
 padding:0px;
 font-size:0px;
}

ul.yoko li {
 border:1px solid white;
 display: inline-block;  /* 横並びになる */
 text-align: center;
 font-size:15px;
}

ul.yoko li a {
 width:200px;
 display: block;
 padding:15px;
}

ul.yoko li p {
 width:450px;
}


p.box {
 border-bottom: 1px solid white;
 padding-bottom: 50px;
}

.btn {
 width: 50px;
 height: 38px;
 background: black;
 border: 1px solid white;
 border-radius: 70px;
 -moz-border-radius: 70px;
 -webkit-border-radius: 70px;
 padding: 21px 10px 10px;
 display: block;
 text-align: center;
 font-weight: bold;
 font-size: 120%;
 transition: background-color 0.5s ease-in;
 -webkit-transition: background-color 0.5s ease-in;
}
.btn:hover {
}

